# Ignore credentials file
credentials.json

# Ignore Python virtual environment folders
venv/
.env/
ENV/
env/

# Ignore Streamlit config folder
.streamlit/

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# ignore jupyter notebooks
*.ipynb

# ignore csv data files
*.csv